.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  padding: 6px 8px;
  cursor:pointer;
  font-family: "Montserrat Regular";
  margin-bottom: 10px;
}

.card:hover {
  background-color: #f4f5f7;
}

.card:active {
  cursor: grabbing;
  /*transform: rotate(5deg);*/
}