* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Semibold";
  src: url("assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}
